.root {
	-fx-font-family: Arial, Tahoma, Verdana;
	-fx-font-size: 11px;
	-fx-font-smoothing-type: lcd;
}

.table-cell {
	/* Fix cell heights. Improves performance, and also allows UI calculations (ListView inside Pagination). */
	-fx-fixed-cell-size: 20px;
  -fx-font-family: monospace;
}

.list-cell {
	/* Fix cell heights. Improves performance, and also allows UI calculations (ListView inside Pagination). */
	-fx-cell-size: 20px;
  -fx-font-family: monospace;
}

.menu-bar {
	-fx-font-weight: bold;
}

.monoSpace {
	-fx-font-family: Consolas, Inconsolata, monospace;
	-fx-font-size: 11px;
	-fx-size: 11px;
	-fx-font-smoothing-type: lcd;
}

.tab-pane:top *.tab-header-area {
	-fx-background-insets: 0, 0 0 1 0;
	-fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
	/* overridden as 5 2 0 0 */
}

.tab-pane:left *.tab-header-area {
	-fx-background-insets: 0, 0 0 1 0;
	-fx-padding: 0px 0px 0px 0px;
	/* -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;*/
	/* overridden as 5 2 0 0 */
}

.tab-pane:left {
	-fx-tab-max-width: 12px;
}

.tab-content-area {
	-fx-padding: 0.0em; /* 0 */
}

.tab:selected {
	-fx-base: #7eaacc
}

.tooltip {
	-fx-font-size: 0.95em;
}